/* * * 페이지 초기화 * * */
* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
}
img{
    border:0;
}
/* * * header * * */
header{
    width:100%;
}
/* * * header의 #header_info1 * * */
#header_info1{
    height:45px;
    line-height:45px;
    text-align:center;
    position:relative;
}
#header_info1 .menu{
    position:absolute;
    left:0px;
    top:0px;
}
#header_info1 .menu img {
    height:45px;
    width:45px;
}
#header_info1 .search input[name=search] {
    height: 30px;
    width: 200px;
    border-bottom: 2px solid lightgrey;
    box-sizing:border-box;
    font-size:1.2em;
    outline:none;
}
#header_info1 .btnsearch{
    float:left;
    width:30px;
    height:30px;
    background-image:url('../image/search.png');
    background-size: 30px 30px;
    border:0px;
    outline:none;
    margin: 7px;
}
#header_info1 .log{
    float:right;
    width:100px;
    height:40px;
    background-color:white;
    border:0px;
    outline:none;
    font-weight:bold;
    font-size:1.2em;
}
#header_info1 .subs {
    float: right;
    width: 100px;
    height: 40px;
    background-color: white;
    border: 0px;
    outline: none;
    font-weight: bold;
    font-size: 1.2em;
}

